@charset "utf-8";
/* CSS Document */

.noscroll { 
	overflow: hidden;
}
.title {
	font-weight: bold;
	font-size:16px;
	color:#000000;
	width:100%;
}
.subheader {
	width:100%;
	font-size:12px;
	color:#000000;
}
.interactiveContainer {
	top:0px;
	vertical-align: -webkit-baseline-middle;
	margin:0px;
	display:inline-table;
	width:auto;
	height:auto;
	margin-right:5px;
}
object {
	vertical-align: -webkit-baseline-middle;
	margin-left: 30px;
	max-height: 400px;
}
.mobileBumper {	
	margin-left:150px;
}
.mobileImage {
	margin:15px;
	margin-left:0px;
	width:100%;
	max-width: 500px;
}
.interactive {
	margin:15px;
	margin-left:0px;
	width:100%;
	max-width: 290px;
}
.ad {
	max-height: 350px;
	width:100%;
	margin:15px;
	margin-left:0px;
}
.html5Image {
	border: 1px solid #CCCCCC;
	margin:15px;
	margin-left:0px;
	width:100%;
}
.moreThan800 {
	text-align:center;
	width:25%;
	float:left;
	background-color:#F30;
	outline:1px solid black;
}
.lessThan800 {
	text-align:center;
	width:50%;
	float:left;
	background-color:#0FF;
	outline:1px solid black;
}
.lessThan400 {
	text-align:center;
	width:100%;
	float:left;
	background-color:#FF0;
	outline:1px solid black;
}
.columns {
	margin-top: 170px;
	line-height: 25px;
	width: 100%;
	font-size:14px;
}
.center {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.resume {
	line-height: 25px;
	max-width: 700px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 60px;
	margin-bottom: 50px;
	font-size:14px;
	-ms-flex: 100%;
	flex: 100%;
}
.headshot {
	height: 40px;
	width: 40px;
	top:0px;
	margin: 12px;
	margin-right: 9px;
	position: fixed;
	left:0px;
	background-image:url(../assets/headShotSM.png);
}
#menu {
	cursor: pointer;
	height: 35px;
	width: 48px;
	top:0px;
	margin: 12px;
	position: fixed;
	right:0px;
	background-image:url(../assets/menu.png);
}
.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}
#menuClose {
	cursor: pointer;
	height: 35px;
	width: 48px;
	top:0px;
	margin: 12px;
	position: fixed;
	right:0px;
	background-image:url(../assets/menuClose.png);
}
.HTML5 {
	top:0px;
	margin:0px;
	display:inline-table;
	width:700px;
	margin-right:20px;
}
.html5 {
	margin-top: 60px;
	overflow-x: auto;
    white-space: nowrap;
	margin-right:5px;
}
.mobile {
	text-align: center;
}
.button {
	text-align: center;
	position: relative;
	left: 0px;
	margin-top: 1px;
	width: 100%;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
	cursor:pointer;
}
button {
	width: 50%;
	margin-top: 5px;
	color: #FFFFFF;
	background-color: #000000;
}
button:hover {
	width: 50%;
	margin-top: 5px;
	color:  #000000;
	background-color: #00FF00;
}
header {
	top:0px;
	left:0px;
	position: fixed;
	width: 100%;
	height:auto;
	padding: 20px;
	padding-left: 65px;
	color:#FFFFFF;
	background-color: #000000;
}
nav {
	text-align: center;
	left: 0px;
	top: 64px;
	opacity: 0;
	padding: 30px;
	background-color:rgba(0, 0, 0, 0.9);
	position: fixed;
	width: 100%;
	height: calc(100% - 64px);
	visibility: hidden;
	overflow-y: scroll;
}
.display {
	visibility: visible;
	opacity: 1;
}
i {
	color: #555555;
	font-size:14px;
}
.animate {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.fadeIn {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	-o-animation:fadeIn ease-in 1;
	-ms-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	-ms-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	-ms-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes fadeIn {
	from {
		opacity:0;
	} to {
		opacity:1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity:0;
	} to {
		opacity:1;
	}
}
@-o-keyframes fadeIn {
	from {
		opacity:0;
	} to {
		opacity:1;
	}
}
@keyframes fadeIn {
	from {
		opacity:0;
	} to {
		opacity:1;
	}
}