body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 13px;
}

.title {
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	color: #00FF00;
}
.newItem {
	background-color: #CCCCCC;
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	padding: 15px;
}
.button {
	font-weight: bold;
	margin-left: 20px;
	background-color: #00FF00;
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	padding: 5px;
}
.button:hover {
	cursor: pointer;
	background-color: #FFFFFF;
}
.item {
	background-color: #CCCCCC;
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	padding: 15px;
	border: 1px;
	border-color: #000000;
}